[Unit]
Description=Home Automation
After=network.target

[Service]
User=ha
Group=ha
ExecStart=/opt/ha/scripts/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
